<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #871e6b;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #e6b1b1;
        }
    </style>
</head>
<body>
      <h1>Prodi</h1>
    <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/prodi">Prodi</a></li>
    </ul>
    <h1><%= title %></h1>
    <table>
        <thead>
            <tr>
                <th>Nama</th>
                <th>Fakultas</th>
                <th>Singkatan</th>
            </tr>
        </thead>
        <tbody>
            <% prodis.forEach(prodi => { %>
                <tr>
                    <td><%= prodi.nama %></td>
                    <td><%= prodi.fakultas %></td>
                    <td><%= prodi.singkatan %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>